<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="OutputDirectory" value=".//Output//"/>
    
    <add key="MailServer" value="mail.iinet.net.au"/>
    <add key="MailUsername" value="tillrox@iinet.net.au"/>
    <add key="MailPassword" value="Tammie20"/>

    <add key="Recipients" value="b.taylor@shaw.ca,bencolonna@gmail.com,quarterback16@grapevine.com.au"/>
    
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/"/>
    
    <targets>
      <target name="file" xsi:type="File" fileName="./logs/BTS-${shortdate}.log" layout="${longdate} ${message}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="file"/>
    </rules>

  </nlog>

</configuration>
