<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="OutputDirectory" value=".//Output//"/>

    <add key="MailServer" value="mail.iinet.net.au"/>
    <add key="MailUsername" value="tillrox@iinet.net.au"/>
    <add key="MailPassword" value="Tammie20"/>

    <add key="Recipients" value="quarterback16@iinet.com.au"/>

  </appSettings>

</configuration>